$background-color-grey: #F6F6F6;
$background-color-primary: #9356DC;
$background-color-green: #99E2D0;
$button-gradient: linear-gradient(to top, #9356DC, #FF79DA);

$color-green-font: #008766;
$color-black-font: #000000;
$color-grey-tint4: #7E7E7E;
$color-grey: #353535;
$color-green: #99E2D0;

$box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$box-shadow-hover: 0px 4px 13px 3px rgba(0, 0, 0, 0.30); 
$box-shadow-rectangle: 0px 4px 15px 0px #00000026;
 
$font-family-shrikhand: 'Shrikhand', serif;
$font-family-roboto: 'Roboto', sans serif;

$font-weight300: 300;
$font-weight400: 400;
$font-weight500: 500;

