$background-color-grey: #f6f6f6;
$background-color-primary: #9356dc;
$background-color-green: #99e2d0;
$button-gradient: linear-gradient(to top, #9356dc, #ff79da);

$color-green-font: #008766;
$color-black-font: #000000;
$color-grey-tint4: #7e7e7e;
$color-grey: #353535;
$color-green: #99e2d0;

$box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$box-shadow-hover: 0px 4px 13px 3px rgba(0, 0, 0, 0.3);
$box-shadow-rectangle: 0px 4px 15px 0px #00000026;

$font-family-shrikhand: "Shrikhand", serif;
$font-family-roboto: "Roboto", sans serif;

$font-weight300: 300;
$font-weight400: 400;
$font-weight500: 500;
